#logo {
	display: inline-block;
	height: 10svh;
}

header {
	width: 100%;
	height: 15vh;
	padding: 0.8rem;
	font-size: 4vh;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

#nav1 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	justify-content: space-evenly;
	align-items: center;
	height: 5vh;
	font-size: 2vh;
	align-content: space-evenly;
	justify-items: center;
}

iframe {
	width: 100vw;
	height: 67vh;
	border: none;
	box-sizing: border-box;
}

#nav2 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	justify-content: space-evenly;
	align-items: center;
	height: 10vh;
	font-size: 2vh;
	align-content: space-evenly;
	justify-items: center;
}

#nav2 h2 {
	font-size: 2.5vh;
	margin: 0;
}

#nav2 a {
	box-sizing: border-box;
	border-radius: 0.5rem;
	text-align: center;
	vertical-align: middle;
}

footer {
	font-size: 2vh;
	height: 2.5vh;
}