@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: #244C7F;
	font-family: 'Libre Franklin', sans-serif;
	color: aliceblue;
}

header {
	background-color: aliceblue;
	font-family: 'Galindo', sans-serif;
	color: black !important;
}

#nav1 {
	background-color: #90B2E0;
}

#nav1 a {
	text-decoration: none !important;
}

#nav2 {
	background-color: #7190bb;
	color: black !important;
}

#nav2 h2 {
	padding: 0;
	margin: 0;
}

footer {
	background-color: #caffff;
	color: black !important;
	text-align: center;
}

table {
	border-collapse: collapse;
	border: 2px solid;
	box-sizing: border-box;
	margin: 0 auto;
}

table a {
	color: red;
}

table h2 {
	font-size: 1.5rem;
	margin: 0;
}

table tr>*:not(caption) {
	border: 1px solid;
}

ul {
	list-style-type: square;
}

p {
	box-sizing: border-box;
	margin: 0;
	padding: 0.6rem;
}

h2 {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0.6rem;
}

#gallery {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
	gap: 4vw;
	padding: 2vw;
	box-sizing: border-box;
}


#gallery img {
	height: auto;
	max-height: 25vh;
}

form {
	margin: 0 auto;
	text-align: center;
}

form * {
	display: inline;
}

#animacja {
	position: relative;
	animation: animacja 0.7s
}

@keyframes animacja {
	from {
		bottom: -300px;
		opacity: 0
	}

	to {
		bottom: 0;
		opacity: 1
	}
}